-- # vim:ft=lua

return {
  lsp = {
    servers = {
      angularls = {},
      astro = {},
      bashls = {},
      buf_ls = {},
      clangd = {},
      cssls = {},
      docker_compose_language_service = {},
      dockerls = {},
      emmet_ls = {},
      gopls = {},
      html = {},
      jinja_lsp = {},
      jsonls = {},
      lua_ls = {},
      marksman = {},
      nil_ls = {},
      omnisharp = {},
      prismals = {},
      pyright = {},
      sqls = {},
      tailwindcss = {},
      templ = {},
      ts_ls = {},
      vue_ls = {},
      yamlls = {},
    },

    formatters_by_ft = {
      angular = { "prettierd" },
      astro = { "prettierd" },
      bzl = { "buildifier" },
      cs = { "csharpier" },
      css = { "prettierd" },
      graphql = { "prettierd" },
      html = { "prettierd" },
      htmlangular = { "prettierd" },
      javascript = { "prettierd" },
      javascriptreact = { "prettierd" },
      json = { "prettierd" },
      jsonc = { "prettierd" },
      lua = { "stylua" },
      markdown = { "prettierd" },
      nix = { "alejandra" },
      proto = { "buf" },
      python = { "isort", "black" },
      sh = { "shfmt" },
      sql = { "sqlfluff" },
      svelte = { "prettierd" },
      svg = { "prettier" },
      templ = { "templ" },
      toml = { "prettierd" },
      typescript = { "prettierd" },
      typescriptreact = { "prettierd" },
      vue = { "prettierd" },
      yaml = { "prettierd" },
    },

    linters_by_ft = {
      astro = { "eslint", "cspell" },
      bzl = { "buildifier", "cspell" },
      cs = { "cspell" },
      dockerfile = { "hadolint", "cspell" },
      gitcommit = { "gitlint", "cspell" },
      go = { "golangcilint", "cspell" },
      html = { "htmlhint", "cspell" },
      javascript = { "eslint", "cspell" },
      javascriptreact = { "eslint", "cspell" },
      lua = { "luacheck", "cspell" },
      markdown = { "markdownlint", "vale", "cspell" },
      nix = { "statix", "cspell" },
      proto = { "buf", "cspell" },
      python = { "flake8" },
      sh = { "shellcheck", "cspell" },
      sql = { "sqlfluff", "cspell" },
      svelte = { "eslint", "cspell" },
      text = { "cspell" },
      typescript = { "eslint", "cspell" },
      typescriptreact = { "eslint", "cspell" },
      yaml = { "yamllint", "cspell" },
      ansible = { "ansible_lint" },
      vue = { "eslint", "cspell" },
    },

    mason = {
      enabled = true,
    },
  },
}
