-- # vim:ft=lua

return {
  plugins = {
    mason = {
      enabled = false,
    },
  },

  system_packages = {
    vue_lsp = "/nix/store/.../lib/node_modules/@vue/language-server/node_modules/@vue/typescript-plugin",
    omnisharp_dll = "/nix/store/.../lib/omnisharp-roslyn/OmniSharp.dll",
  },
}
