-- # vim:ft=lua

return {
  plugins = {
    mason = {
      enabled = true,
      ensure_installed = {
        "astro",
        "bashls",
        "cssls",
        "denols",
        "dockerls",
        "elixirls",
        "emmet_ls",
        "eslint",
        "gopls",
        "html",
        "jinja_lsp",
        "jsonls",
        "lua_ls",
        "marksman",
        "prismals",
        "pylsp",
        "pyright",
        "tailwindcss",
        "templ",
        "ts_ls",
        "yamlls",
      },
      tools_ensure_installed = {
        "black",
        "buf",
        "buildifier",
        "cspell",
        "eslint_d",
        "gitlint",
        "golangci-lint",
        "hadolint",
        "htmlhint",
        "js-debug-adapter",
        "luacheck",
        "markdownlint",
        "prettier",
        "prettierd",
        "shellcheck",
        "shfmt",
        "sql-formatter",
        "sqlfluff",
        "stylua",
        "yamlfmt",
        "yamllint",
      },
    },
  },

  system_packages = {
    vue_lsp = nil,
    omnisharp_dll = nil,
  },
}
